language: node_js
node_js:
  - "6.0"
  - "5.1"
  - "4.2"

notifications:
  email: false
  slack: we-are-sidekick:GeIT5wtuKMLImpFXYHWzIGzI

script:
  - npm i
  - npm test 
  - ./sidekick.js -v
  - echo If you are looking at this build config as an example of how to configure Sidekick on travis - be aware that the correct invocation is sidekick run --travis
  - ./sidekick.js run . --travis
